*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: small;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* me */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  text-align: center;
}

.container{
  max-width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;

  justify-content: end;
  gap: 40px;
  max-width: 300px;
  padding: 20px;
}

button{
  padding: 5px;
}
.btns{
  display: flex;
  gap: 20px;
}

.most-voted{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  max-width: 400px;
}